block content
    h1= "WARNING! You are about to leave this website/application!"
    h2= "It may be a dangerous url! Do NOT click on it if you see some weird shit!"
    h4= "If you are sure you want to visit this url then please click the link below."
    a(href=url)=url
    p= "If the link above is blue color, that means you have NOT visited this url before, otherwise you HAVE visited this url before."
